<div class="tought-form-container">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>Criando um Pensamento:</h1>
    <form action="/toughts/add" method="post">
        <div class="form-control">
            <label for="title">Pensamento:</label>
            <input name="title" type="text" placeholder="Digite seu pensamento...">
        </div>
        <input type="submit" value="Criar Pensamento">
    </form>
</div>