<h1>Criação de Task</h1>
<form method="post" action="/tasks/add">
    <div class="form-control">
        <label for="name">Titulo:</label>
        <input type="text" name="title" placeholder="Digite o que voce vai fazer">
    </div>
    <div class="form-control">
        <label for="description">Descrição:</label>
        <textarea name="description" placeholder="Digite sua tarefa"></textarea>
    </div>
    <input type="submit" value="Criar">
</form>