<div class="auth-container">
    <h2>Entrar</h2>
    <form method="post" action="/login">
        <div class="form-control">
            <label for="email">E-mail:</label>
            <input type="text" name="email" placeholder="Digite seu email" required>
        </div>
        <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" placeholder="Digite sua senha" required>
        </div>
        <input type="submit" value="Entrar">
        <p>Não tem uma conta? <a href="/register">Clique aqui!</a></p>
    </form>
</div>